<content class="">
    <div class="row main-content">
        <div class="col-3 left-content">
            <div class="shortcut-friend">
                <img style="float: none;width: 40px; height: 40px;" class="user-avatar" src="img/avt.png" alt="">
                <span><b>Lê Tuấn Tài</b></span>
            </div>
            <div class="shortcut-video">
                <span><b>Tiện ích</b></span>
                <div class="watch">
                    <i class="ti-video-clapper"></i><span> Watch</span>
                </div>
                <div class="memory">
                    <i class="ti-time"></i><span> Memory</span>
                </div>
                <div class="feeds">
                    <i class="ti-agenda"></i><span> Feeds</span>
                </div>
                <div class="page">
                    <i class="ti-flag-alt"></i><span> Page</span>
                </div>
            </div>
            <div class="shortcut-setting">
                <span><b>Lối tắt của bạn</b></span>
                <div class="setting">
                    <i class="ti-settings"></i><span>Setting</span>
                </div>
            </div>
        </div>
        <div class="col-5" >
            <div class="status">
                <img style="float: none; width: 50px; height: 50px;" class="user-avatar" src="img/avt.png" alt="">
                <span>Hôm nay bạn thế nào ?</span>
                <div class="icon-img">
                    <img src="/img/img.png" alt="">
                    <span>Ảnh</span>
                </div>
                <div class="icon-video">
                    <img src="/img/vd.png" alt="">
                    <span>Video</span>
                </div>
            </div>
            <div class="posts"></div>
        </div>
        <div class="col-3">
            <div class="friend-request">
                <span>Gợi ý kết bạn</span>
                <ul>
                    <li><a href=""><img style="float: none;width: 40px; height: 40px;" class="user-avatar" src="img/avt.png" alt="">
                <span><b>Lê Tuấn Tài</b></span></a><span>Kết bạn</span></li>
                    <li><a href=""><img style="float: none;width: 40px; height: 40px;" class="user-avatar" src="img/avt.png" alt="">
                <span><b>Lê Tuấn Tài</b></span></a><span>Kết bạn</span></li>
                    <li><a href=""><img style="float: none;width: 40px; height: 40px;" class="user-avatar" src="img/avt.png" alt="">
                <span><b>Lê Tuấn Tài</b></span></a><span>Kết bạn</span></li>
                    <li><a href=""><img style="float: none;width: 40px; height: 40px;" class="user-avatar" src="img/avt.png" alt="">
                <span><b>Lê Tuấn Tài</b></span></a><span>Kết bạn</span></li>
                    <li><a href=""><img style="float: none;width: 40px; height: 40px;" class="user-avatar" src="img/avt.png" alt="">
                <span><b>Lê Tuấn Tài</b></span></a><span>Kết bạn</span></li>
                    <li><a href=""><img style="float: none;width: 40px; height: 40px;" class="user-avatar" src="img/avt.png" alt="">
                <span><b>Lê Tuấn Tài</b></span></a><span>Kết bạn</span></li>
                    <li><a href=""><img style="float: none;width: 40px; height: 40px;" class="user-avatar" src="img/avt.png" alt="">
                <span><b>Lê Tuấn Tài</b></span></a><span>Kết bạn</span></li>
                    <li><a href=""><img style="float: none;width: 40px; height: 40px;" class="user-avatar" src="img/avt.png" alt="">
                <span><b>Lê Tuấn Tài</b></span></a><span>Kết bạn</span></li>
                </ul>
            </div>
        </div>
    </div>
</content>