<nav class="" style="background:orangered ;height: 7%;">
  <div class="row">
    <div class="col-4 ">
      <div class="p-2">
        <h3 style="color: white;">CAROT</h3>
      </div>
      
    </div>

    <div class="col-4 justify-content-center">
      <form>
        <div class="form-group p-2 m-0">
          <input type="text" class="form-control" style="height:30px;width:75%;">
        </div>
      </form>
    </div>
    <div class="col-4">
      <div>
        <form>
          <div class="form-group p-1 m-1">
          <a class="ml-2" href="#">Trang chu</a>
          <a class="ml-2" href="#">Trang chu</a>
          <a class="ml-2" href="#">Trang chu</a>
          <a class="ml-2" href="#">Trang chu</a>
          <a class="ml-2" href="#">Trang chu</a>
        </div>
        </form>
      </div>
    </div>
  </div>

</nav>