<nav class="" style="background:orangered ;height: 7%;">
  <div class="row">
    <div class="col-3 ">
      <div class="p-2">
        <h3 class="carot" style="color: white;">CAROT</h3>
      </div>
      
    </div>

    <div class="col-3 justify-content-center">
      <form>
        <div class="form-group p-2 m-0 search-bar">
          <input type="text" class="form-control" placeholder="Tìm kiếm..." style="height:30px;width:100%;">
          <i class="ti-search"></i>
        </div>
      </form>
    </div>
    <div class="col-6">
      <div>
        <form>
          <div class="form-group p-1 m-1 list-icon">
          <a class="ml-2" href="#"><i class="ti-home"></i></a>
          <a class="ml-2" href="#"><i class="ti-comment-alt"></i></a>
          <a class="ml-2" href="#"><i class="ti-user"></i></a>
          <a class="ml-2" href="#"><i class="ti-bell"></i></a>
          <a class="ml-2" href="#"><img class="user-avatar" src="/img/avt.png" alt=""></a>
        </div>
        </form>
      </div>
    </div>
  </div>
</nav>