<subnav>
    {{!-- <div class="row">
        <div class="col-1">
            <div class="sub-nav">
                <div><img class="user-avatar user2" src="/img/avt.png" alt=""></div>
                <div class="list-item2">
                    <ul>
                    <li><a href=""><i class="ti-home"></i></a></li>
                    <li><a href=""><i class="ti-comment-alt"></i></a></li>
                    <li><a href=""><i class="ti-user"></i></a></li>
                    <li><a href=""><i class="ti-bell"></i></a></li>
                </ul>
                </div>
                <div class="subnav-setting"><a href=""><i class="ti-settings"></i></a></div>
            </div>
        </div>
        <div class="col-11 content-message"></div>
    </div> --}}
    <div class="row">
        <div class="col-1">
            <div class="sub-nav">
                <div><img class="user-avatar user2" src="/img/avt.png" alt=""></div>
                <div class="list-item2">
                    <ul>
                    <li><a href=""><i class="ti-home"></i></a></li>
                    <li><a href=""><i class="ti-comment-alt"></i></a></li>
                    <li><a href=""><i class="ti-user"></i></a></li>
                    <li><a href=""><i class="ti-bell"></i></a></li>
                </ul>
                </div>
                <div class="subnav-setting id2"><a href=""><i class="ti-settings"></i></a></div>
            </div>
        </div>
        <div class="col-11"></div>
    </div>
</subnav>