<div class="container-fluid p-0 m-0" style="background-color:#F4F4F4; width: 100%; height:80%">
    <div class="row " style="position: absolute; height: 80%;">
        <div class="col-6 mt-5 p-0">
            <div style="margin-left:20%; margin-top:15% ;">
                <h1 id="carot" style="color: orangered; font-size: 70px;">Carot</h1>
                <h3>Carot
                    giúp bạn kết nối và chia sẻ với mọi người trong cuộc sống của bạn.</h3>
            </div>
        </div>
        <div class="col-6 ">
            <div class=" border" style="width:90% ; text-align: center; height: 400px;" id="form-dangnhap">
                <form class="bg-white p-4 h-100">
                    <div class="form-group mb-4 mt-5">

                        <input type="email" class="form-control" style="height: 50px;" id="exampleInputEmail1"
                            aria-describedby="emailHelp" placeholder="Email">

                    </div>
                    <div class="form-group  mb-1">

                        <input type="password" class="form-control " style="height: 50px;" id="exampleInputPassword1"
                            placeholder="Password">
                    </div>
                    <div class="form-group mt-1">
                        <button type="submit" id="id_btn_da" class="button cnm_btn m-3" style="outline: none;">Đăng nhập</button>
                    </div>
                    <div class="form-group m-0">
                        <a href="#">Quên mật khẩu?</a>
                    </div>
                    <div class="form-group mt-1">
                        {{!-- modal dang ky --}}
                        <button type="button" id="id_btn_da" style="background: rgba(0, 71, 255, 0.68);
                        border-radius: 10px; width: 50%; outline: none;" class="m-3" data-toggle="modal"
                            data-target="#exampleModal">Đăng ký</button>
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog " role="document">
                                <div class="modal-content ">
                                    <div class="modal-header">
                                        <h2 class="modal-title " id="exampleModalLabel" style="color: orangered;">Đăng
                                            ký</h2>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="form-group m-4">

                                                <input type="text" class="form-control" style="height: 50px;"
                                                    id="id-hoten" placeholder="Họ tên">

                                            </div>
                                            <div class="form-group m-4">

                                                <input type="email" class="form-control" style="height: 50px;"
                                                    id="exampleInputEmail1" aria-describedby="emailHelp"
                                                    placeholder="Email">

                                            </div>
                                            <div class="form-group  m-4">

                                                <input type="password" class="form-control " style="height: 50px;"
                                                    id="exampleInputPassword1" placeholder="Mật khẩu">
                                            </div>
                                            <div class="form-group  m-4">

                                                <input type="password" class="form-control " style="height: 50px;"
                                                    id="exampleInputPassword1" placeholder="Nhập lại mật khẩu">
                                            </div>
                                            <div class="form-group  m-4">

                                                <input type="date" class="form-control " style="height: 50px;"
                                                    id="exampleInputPassword1">
                                            </div>
                                            <div class="form-group  m-4">
                                                 
                                                <select class="form-control" id="exampleFormControlSelect1" style="height: 50px;">
                                                    <option>Giới tính</option>
                                                    <option>Nam</option>
                                                    <option>Nữ</option>
                                                    
                                                </select>
                                            </div>
                                            <div class="form-group  m-4">
                                                <p style="text-align:left">Người dùng dịch vụ của chúng tôi có thể đã tải thông tin liên hệ của bạn lên Carot. Tìm hiểu thêm.

Bằng cách nhấp vào Đăng ký, bạn đồng ý với Điều khoản, Chính sách quyền riêng tư và Chính sách cookie của chúng tôi. Bạn có thể nhận được thông báo của chúng tôi qua SMS và hủy nhận bất kỳ lúc nào.</p>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Đóng</button>
                                        <button type="button" class="btn btn-primary">Gửi</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{!-- --}}
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>
<div class="card-footer "
    style="position: absolute;bottom: 0 ; width: 100%;padding: 0;height:10%; background-color: #3586FF;">
    <div class="wave" id="wave1"></div>
    <div class="wave" id="wave1"></div>
    <div class="wave" id="wave1"></div>
    <div class="wave" id="wave1"></div>
    <div class="row">

        <div class=" p-0 m-0">kljdfg</div>


    </div>