<div class="row ">
    <div class="col-6 mt-5">
        <div style="margin-left:20%; margin-top:20% ;">
            <h1 id="carot" style="color: orangered; font-size: 90px;">Carot</h1 <p> <b
                style="color: orangered; font-size: 30px;">CAROT</b>
            giúp bạn kết nối và chia sẻ với mọi người trong cuộc sống của bạn.</p>
        </div>
    </div>
    <div class="col-6 align-self-center ">
        <div class="mb-0 p-0 border border-warning border-radios " style="margin: 50px; width:50% ; text-align: center;">
            <form class="bg-white p-4 ">
                <div class="form-group mb-4 ">

                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Enter email">

                </div>
                <div class="form-group  mb-1">

                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-check ">

                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

    </div>
</div>








<div class="footer">

</div>