@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
    overflow-x: hidden;
    font-family: Arial, sans-serif, Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4 !important;
}

#form-dangnhap {
    margin-top: 70px;
    margin-left: 50%;
    width: 100%;
    box-shadow: -2px 3px 5px rgba(0, 0, 0, 0.2), 3px -5px 5px rgba(255, 255, 255, 1);
}

#carot {}

#id_btn_da {
    transition-duration: 0.4s;
    background-color: orangered;
    font-size: 20px;
    color: white;
    width: 80%;
    height: 50px;
    border-radius: 8px;
    border: 1px solid rgb(255, 255, 255, 50%);
    box-shadow: -2px 3px 5px rgba(0, 0, 0, 0.2), 3px -5px 5px rgba(255, 255, 255, 1);
}

#id_btn_da:hover {
    background-color: #4CAF50;
    /* Green */
    color: white;
}

.border_radius {
    border-radius: 5px;
}

.wave {
    position: absolute;
    top: -70px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("/img/wave.png");
    background-size: 1000px 100px;
}

.wave#wave1 {
    z-index: 1000;
    background-color: #F4F4F4;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
}

.wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
}

@keyframes animateWaves {
    0% {
        background-position-x: 1000px;
    }
    100% {
        background-positon-x: 0px;
    }
}

@keyframes animate {
    0% {
        background-position-x: -1000px;
    }
    100% {
        background-positon-x: 0px;
    }
}


/* Nghi */

.carot {
    padding-left: 20px;
    font-weight: 700;
}

.search-bar {
    position: relative;
}

.ti-search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    width: 20px;
    cursor: pointer;
}

.search input {
    padding: 5px 22px 5px 2px;
}

.user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-bottom: 12px;
    margin-right: 10px;
    float: right;
}

.list-icon i {
    font-size: 25px;
    color: #F4F4F4;
    padding: 4px 20px 0px 20px;
    display: inline-block;
}

.list-icon i:hover {
    text-decoration: none;
    background-color: rgb(201, 69, 21);
}

.main-content {
    margin-top: 20px;
}

.left-content {
    margin-left: 30px;
}

.shortcut-friend,
.shortcut-video,
.shortcut-setting,
.status,
.posts,
.friend-request {
    height: 50px;
    background-color: #fff;
    border-radius: 8px;
    padding: 10px 60px 50px 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    margin-top: 20px;
}

.shortcut-video {
    height: 280px;
}

.shortcut-video>div,
.shortcut-setting>div {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    cursor: pointer;
}

.shortcut-video>div:hover,
.shortcut-setting>div:hover {
    background-color: #F4F4F4;
}

.shortcut-video i,
.shortcut-setting i {
    font-size: 24px;
}

.shortcut-video span,
.shortcut-setting span,
.shortcut-friend span,
.friend-request>span {
    font-size: 20px;
    padding-left: 10px;
}

.shortcut-setting {
    height: 140px;
}

.status {
    width: 90%;
    height: 120px;
    float: right;
    position: relative;
}

.status>span {
    font-size: 24px;
}

.status img {
    width: 30px;
}

.icon-img {
    position: absolute;
    top: 70px;
    right: 120px;
    padding: 10px;
}

.icon-video {
    position: absolute;
    top: 70px;
    right: 40px;
    padding: 10px;
}

.icon-video:hover,
.icon-img:hover {
    background-color: #F4F4F4;
    cursor: pointer;
}

.posts {
    height: 380px;
    width: 90%;
    float: right;
}

.friend-request {
    width: 90%;
    height: 520px;
    float: right;
}

.friend-request li {
    list-style: none;
    padding: 4px;
}

.friend-request li a {
    color: #000;
}

.friend-request li a:hover {
    text-decoration: none;
}

.friend-request li>span {
    padding-left: 20px;
}